/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none;
    list-style: none;
}

:root {
    --main-color: #001f3f; /* Dark Blue */
    --sec-color: #001a33;  /* A slightly lighter shade of blue */
    --dark-color: #000000; /* Black */
    --light-color: #f3f3f3; /* Light Grey */
}


body{
	font-family: 'Lato', sans-serif; 
	background: linear-gradient(to bottom, var(--main-color), var(--dark-color));
    color: var(--light-color);
	min-height: 100vh;
}


a {
    text-decoration: none;
  }


img:hover{
	transform:scalex(1.1);
	border:white;
	padding:2px;

	display:block;
}


container{
	width: 375px;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 15px;
    text-align: center;
    padding: 50px 35px 10px 35px;
    box-shadow: 1px 1px 5px var(--main-color);
}

.icon{
	float:left;
}

.navbar {
	position:fixed;
	width:100%;
	top:0;
    background-color: black;
    height: 120px;
    border: none;
    border-radius: 0;
	color:white;
	z-index:1;
}

.heading{
	font-family: times;
	color : white;
	font-size : 50px;
	font: Bold
	float: left;
	top: 60px;
}

.hamburger{
	position:fixed;
	top:50px;
	right:2px;
	float:right;
	padding:2px;
	background-color:black;
}

.dropdown{
	position:fixed;
	background-color:#43464B;
	height:250px;
	width:40%;
	border-radius:3%;
	left: 60%;
	top: 110px;
	display:none;
	opacity:97%;
	z-index:1;
}


.dropdown #dropdownelem1{
	position:relative;
	top:5%;
	height:auto;
	width:100%;
	color: white;
	font-size:25px;
	text-align: center;
}
.dropdown #dropdownelem2{
	position:relative;
	top:3%;
	height:auto;
	width:100%;
	color: white;
	font-size:25px;
	text-align: center;
}
.dropdown #dropdownelem3{
	position:relative;
	top:3%;
	height:auto;
	width:100%;
	color: white;
	font-size:25px;
	text-align: center;
}

#textdropdown{
	width:100%;
	color: white;
	font-size:25px;
	text-align:center;
}

#dropdownelem1:hover{
	transform:scalex(1.1) scaley(1.1);
}

#dropdownelem2:hover{
	transform:scalex(1.1) scaley(1.1);
}

#dropdownelem3:hover{
	transform:scalex(1.1) scaley(1.1);
}

@media (min-width: 992px){
	.col-lg-4{
		width: 33%;
		float: left;
	}
}
@media (min-width: 768px) and (max-width: 991px){
  .col-lg-4 {
    width: 50%;
    float: left;
  }
  .col-lg-tablet{
   width: 100%;
   float: left;
 }
}
@media (max-width: 767px){
  .col-lg-4{
    width: 100%;
    float: left;
  }
}

.row{
  width: 100%;
}

.container1{
 position: relative;
 top:120px;
 margin: 15px; 
}

.item{
  position: relative;
  top: 0;
  background-color:#999999;
  margin: 15px;
  padding: 25px;
  border: 3px solid #000;
  opacity:80%;
}

.item:hover{
	transform:scalex(1.1) scaley(1.1);

}


.item p{
  margin-top: 30px;
  text-align: justify;
  font-size:100%;
}

.item-title{
  position: absolute;
  top:0;
  right: 0px;
  background: green; 
  padding: 1px 45px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  opacity:99%;
}


#title-one {
  background-color: #D59898;
} 

#title-two{
  background-color: #C14543;
}

#title-three{
  background-color: #E5D198;
}





